:host {
    width: 100%;
}

.card-text-list {
    color: #702c91;
}

.img-footer {
    width: 50px !important;
    height: 50px !important;
}

.card-header-detail {
    background-color: #702c91 !important;
    color: white;
}