<div class="container-fluid">
  <div class="col-md-8">
    <div class="card-header card-header-detail">
      <div class="text-center">
        <qr-code [value]="voucher.qrHash" [size]="150"></qr-code>
        <hr style="border-color:white;" />
        <h4>{{voucher.event.name}}</h4>
        <span class="badge badge-light">#{{voucher.id}}</span>
        <span class="badge badge-primary">{{voucher.ticketType.name}}</span>
        <span class="badge badge-success">{{voucher.sector.name}}</span>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text card-text-list">
        <b>Dia {{voucher.event.date | date:'dd/MM/yyyy'}} <br /> Horário {{voucher.event.timeBegin}} às {{voucher.event.timeEnd}}</b>
        <span class="badge badge-success float-right">{{voucher.event.classification}}</span>
      </p>
      <a href="#" class="btn btn-primary btn-block text-left"><span class="fa fa-fw fa-map-marker"></span>Localização</a>
      <p class="card-text" align="justify">{{ voucher.event.location }}</p>
      <a href="#" class="btn btn-primary btn-block text-left"><span class="fa fa-fw fa-volume-up"></span>Sobre o evento</a>
      <p class="card-text" align="justify">{{ voucher.event.description }}</p>
    </div>
    <div class="card-footer text-center">
        <a href="{{voucher.event.website}}" target="_blank">
            <img src="assets/images/website.png" class="img-footer pull-left" alt="Site do evento">
          </a>
          <a href="{{voucher.event.facebook}}" target="_blank">
            <img src="assets/images/facebook.png" class="img-footer" alt="Facebook do Evento">
          </a>
          <a href="{{voucher.event.instagram}}" target="_blank">
            <img src="assets/images/instagram.png" class="img-footer pull-right" alt="Instagram do Evento">
          </a>
    </div>
  </div>
</div>
  