<div class="container-fluid">
    <div class="row submenu-container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark sub-menu">
        <ul class="navbar-nav ml-auto sub-menu-list float-left">
            <li class="menu-item" routerLink="/classifieds" [routerLinkActive]="['router-link-active']">
                <i class="fa fa-fw fa-institution"></i>&nbsp;Minha Loja
            </li>
            <li class="menu-item" routerLink="/classifieds/products" [routerLinkActive]="['router-link-active']">
                <i class="fa fa-fw fa-handshake-o"></i>&nbsp;Meus Anúncios
            </li>
            <li class="menu-item" routerLink="/classifieds/contacts" [routerLinkActive]="['router-link-active']">
                <i class="fa fa-fw fa-envelope"></i>&nbsp;Contatos
            </li>
            <li class="menu-item" routerLink="/classifieds/mobile/cars/21/Curitiba/1" [routerLinkActive]="['router-link-active']">
                <i class="fa fa-fw fa-mobile"></i>&nbsp;Mobile Auto
            </li>
            <li class="menu-item" routerLink="/classifieds/mobile/estates/21/Curitiba/1" [routerLinkActive]="['router-link-active']">
                <i class="fa fa-fw fa-mobile"></i>&nbsp;Mobile Imóveis
            </li>
        </ul>
    </nav>
    </div>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
</div>