<div class="container-fluid">
  <app-page-header icon="fa-institution" [heading]="headerTitle" canGoBack=true></app-page-header>

  <!-- Dados do Evento -->
  <div class="row">
    <div class="col-12">
      <form class="needs-validation" [formGroup]="formFields">
        <div class="form-row">
          <div class="card w-100">
            <div class="card-header">
              <h5>Dados do Evento</h5>
            </div>
            <div class="card-body">

              <!-- Nome do Evento-->
              <div class="form-group col-sm-12 float-left" [ngClass]="applyCssError('name')">
                <small class="form-text text-muted">Digite aqui o <b>Título</b> do evento</small>
                <div class="input-group mb-3">
                  <div class="input-group-addon">
                    <i class="fa fa-edit"></i>
                  </div>
                  <input class="form-control" autofocus formControlName="name" placeholder="Título" maxlength="255"
                    [(ngModel)]="event.name" [ngClass]="applyCssError('name')"/>
                </div>
                <app-field-control-error [showError]="verifyValidTouched('name')" errorMessage="Título é Obrigatório" class="fixErrorPosition"></app-field-control-error>
              </div>

              <!-- Descrição -->
              <div class="form-group col-sm-12 float-left" [ngClass]="applyCssError('description')">
                <small class="form-text text-muted">Digite aqui a <b>Descrição</b> do evento</small>
                <div class="input-group mb-3">
                  <div class="input-group-addon">
                    <i class="fa fa-text-width"></i>
                  </div>
                  <input class="form-control" autofocus formControlName="description" placeholder="Descrição"
                    [(ngModel)]="event.description" [ngClass]="applyCssError('description')"/>
                </div>
                <app-field-control-error [showError]="verifyValidTouched('description')" errorMessage="Endereço é Obrigatório" class="fixErrorPosition"></app-field-control-error>
              </div>

              <!-- Endereço -->
              <div class="form-group col-sm-12 float-left" [ngClass]="applyCssError('location')">
                <small class="form-text text-muted">Digite aqui o <b>Endereço</b> do evento</small>
                <div class="input-group mb-3">
                  <div class="input-group-addon">
                    <i class="fa fa-map"></i>
                  </div>
                  <input class="form-control" autofocus formControlName="location" placeholder="Endereço" maxlength="300"
                    [(ngModel)]="event.location" [ngClass]="applyCssError('location')"/>
                </div>
                <app-field-control-error [showError]="verifyValidTouched('location')" errorMessage="Endereço é Obrigatório" class="fixErrorPosition"></app-field-control-error>
              </div>

              <!-- Datas do evento -->
              <div class="form-group col-sm-4 float-left" [ngClass]="applyCssError('date')">
                <small class="form-text text-muted">Informe a <b>Data</b> do evento</small>
                <div class="input-group mb-3">
                  <div class="input-group-addon" (click)="ds.toggle()" style="cursor: pointer;">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input class="form-control" formControlName="date" placeholder="dd/mm/yyyy" mask="00/00/0000"
                    [ngModel]="event?.date" (ngModelChange)="event.date=$event" [ngClass]="applyCssError('date')" bsDatepicker #ds="bsDatepicker"
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-orange' }"/>
                </div>
                <app-field-control-error [showError]="verifyValidTouched('date')" errorMessage="Data é Obrigatório" class="fixErrorPosition"></app-field-control-error>
              </div>

              <!-- Hora Inicio -->
              <div class="form-group col-sm-4 float-left" [ngClass]="applyCssError('timeBegin')">
                <small class="form-text text-muted">Informe a <b>Hora Início</b> do evento</small>
                <div class="input-group mb-3">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input class="form-control" formControlName="timeBegin" placeholder="00:00" mask="00:00:00"
                    [(ngModel)]="event.timeBegin"/>
                </div>
                <app-field-control-error [showError]="verifyValidTouched('timeBegin')" errorMessage="Hora de inicio é Obrigatório" class="fixErrorPosition"></app-field-control-error>
              </div>

              <!-- Hora Fim -->
              <div class="form-group col-sm-4 float-left" [ngClass]="applyCssError('timeEnd')">
                <small class="form-text text-muted">Informe a <b>Hora Fim</b> do evento</small>
                <div class="input-group mb-3">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input class="form-control" formControlName="timeEnd" placeholder="00:00" mask="00:00:00"
                    [(ngModel)]="event.timeEnd"/>
                </div>
                <app-field-control-error [showError]="verifyValidTouched('timeEnd')" errorMessage="Hora final é Obrigatório" class="fixErrorPosition"></app-field-control-error>
              </div>

              <!-- Avisos -->
              <div class="form-group col-sm-12 float-left">
                <small class="form-text text-muted">Digite aqui os <b>Avisos</b> do evento</small>
                <div class="input-group mb-3">
                  <div class="input-group-addon">
                    <i class="fa fa-exclamation-triangle"></i>
                  </div>
                  <input class="form-control" formControlName="warnings" placeholder="Avisos" maxlength="500"
                    [(ngModel)]="event.warnings"/>
                </div>
              </div>

              <!-- Classificação -->
              <div class="form-group col-sm-4 float-left" [ngClass]="applyCssError('classification')">
                <small class="form-text text-muted">Informe a <b>Classificação</b> do evento</small>
                <div class="input-group mb-3">
                  <div class="input-group-addon">
                    <i class="fa fa-sort-numeric-desc"></i>
                  </div>
                  <input class="form-control" autofocus formControlName="classification" placeholder="Classificação" maxlength="30"
                    [(ngModel)]="event.classification" [ngClass]="applyCssError('classification')"/>
                </div>
                <app-field-control-error [showError]="verifyValidTouched('classification')" errorMessage="Classificação é Obrigatório" class="fixErrorPosition"></app-field-control-error>
              </div>

              <!-- Facebook -->
              <div class="form-group col-sm-4 float-left">
                <small class="form-text text-muted">Digite aqui o <b>Facebook</b> do evento</small>
                <div class="input-group mb-3">
                  <div class="input-group-addon">
                    <i class="fa fa-facebook-official"></i>
                  </div>
                  <input class="form-control" formControlName="facebook" placeholder="Facebook" maxlength="255"
                    [(ngModel)]="event.facebook"/>
                </div>
              </div>

              <!-- Instagram -->
              <div class="form-group col-sm-4 float-left">
                <small class="form-text text-muted">Digite aqui o <b>Instagram</b> do evento</small>
                <div class="input-group mb-3">
                  <div class="input-group-addon">
                    <i class="fa fa-instagram"></i>
                  </div>
                  <input class="form-control" formControlName="instagram" placeholder="Instagram" maxlength="255"
                    [(ngModel)]="event.instagram"/>
                </div>
              </div>

              <!-- Site -->
              <div class="form-group col-sm-4 float-left">
                <small class="form-text text-muted">Digite aqui o <b>Site</b> do evento</small>
                <div class="input-group mb-3">
                  <div class="input-group-addon">
                    <i class="fa fa-internet-explorer"></i>
                  </div>
                  <input class="form-control" formControlName="website" placeholder="Site" maxlength="255"
                    [(ngModel)]="event.website"/>
                </div>
              </div>

            </div>
            <div class="card-footer">
              <button *ngIf="!isNew && event.sectors.length == 0 && event.photos.length == 0" class="btn btn-danger float-left" (click)="onDelete()">Excluir Evento</button>
              <button class="btn btn-primary float-right" (click)="onSave()">Salvar Dados Evento</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <br />

  <!-- Imagens do Evento -->
  <div class="row"  *ngIf="!isNew">
    <div class="col-12">
      <form class="needs-validation" [formGroup]="formFields">
        <div class="form-row">  
          <div class="card w-100">
            <div class="card-header">
              <h5 class="float-left">Imagens</h5>
            </div>
            <div class="card-body">
              <image-upload [max]="10" [maxFileSize]="2097152" [extensions]="['jpg','png', 'jpeg']" (uploadFinished)="onUploadFinished($event)"
                [buttonCaption]="'Carregar Imagens'" [dropBoxMessage]="'Arraste suas imagens aqui!'" [clearButtonCaption]="'Limpar'"
                (removed)="onRemoved($event)"></image-upload>
        
              <div class="row m-3">
                <div>
                  <img *ngFor="let item of event.photos" [src]="item.image" width="100" height="100" title="Clique na imagem para excluir!"
                  (click)="excludeImage(item)"/>          
                </div>
              </div>

            </div>
            <div class="card-footer">
              <button *ngIf="!isNew && event.sectors.length == 0 && event.photos.length == 0" class="btn btn-danger float-left" (click)="onDelete()">Excluir Evento</button>
              <button class="btn btn-primary float-right" (click)="onSave()">Salvar Imagens Evento</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <br />

  <!-- Stores do Evento -->
  <div class="row" *ngIf="!isNew">
    <div class="col-12">
      <form class="needs-validation">
        <div class="form-row">  
          <div class="card w-100">
            <div class="card-header">
              <h5 class="float-left">Setores do Evento</h5>
              <button class="btn btn-primary float-right" routerLink="/tickets/events/sector/{{eventId}}">Criar Setor</button>
            </div>
            <div class="card-body">
              <table class="table table-striped table-hover">
                <thead>
                  <th scope="col">Id</th>
                  <th scope="col">Descrição</th>
                </thead>
                <tbody>
                  <tr *ngFor="let sector of event.sectors" routerLink="/tickets/events/sector/details/{{sector.id}}">
                    <th scope="row">{{sector.id}}</th>
                    <td>{{sector.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
<app-loading [isProcessing]="isProcessing"></app-loading>