$ondeir-purple: #51126A;
$ondeir-gold: #F7941D;
$ondeir-yellow: #FDB912;
$ondeir-purple-op20: rgba(81, 18, 106, 0.2);

$topnav-background-color: #222;
$topbar-background-color: #290a38;

$menu-text-color: #667575;
$menu-icon-color: #C9D4D7;
$menu-icon-color-select: $ondeir-gold;
$sidebar-background-color: rgba(81, 18, 106, 0.3);

$header-icons-color: #C9D4D7;
$header-text-color: $ondeir-gold;
