:host {
    width: 100%;
}

h4 {
    font-size: 12pt
}

span {
    font-size: 10pt;
}

.card {
    border: none;
}

.logo-img {
    width: 3em;
}

.car-section {
    background-color: #702c91;
    color: white;
    display: flex;
    align-content: center;
    padding: 3%;
    border-radius: 10px;

    img {
        width: 3em;
        height: 3em;
        margin-right: 5px;
    }

    h5 {
        align-self: center;
    }
}

.border-bottom {
    border-bottom: 1px solid lightgray;
}

.card-header-main {
    background-color: #fdb613e0;
}

.card-footer-main {
    background-color: #702c91;
    color: white;
}



.card-header-list {
    background-color: white;
}

.card-text-list {
    color: #702c91;
}

.card-img-list {
    width: 7em;
    height: 7em;
}