:host {
    width: 100%;
}

.card-header-main {
    background-color: #fdb613e0;
}

.card-footer-main {
    background-color: #702c91;
    color: white;
}

.card-header-list {
    background-color: white;
}

.card-text-list {
    color: #702c91;
}

.card-img-list {
    width: 150px; 
    height: 150px;
}

.sale-total {
    color: green;
    font-weight: bold;
}